@model List<LearnerProject.Models.Entities.Review>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<h2>Yorumlar Sayfası</h2>
<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Kurs Adı</th>
        <th>Puan</th>
        <th>Puan Değerlendirmesi</th>
        <th>Öğrenci Ad Soyad</th>
        <th>Öğrenci Kullanıcı Adı</th>
        <th>İşlemler</th>
    </tr>
    <tbody>
        @foreach(var item in Model)
            {
            count++;
            <tr>
                <th>@count</th>
                <th>@item.Course.CourseName</th>
                <th>@item.ReviewValue</th>
                <th>@(item.Comment.Length>60? item.Comment.Substring(0,60)+ "...": item.Comment)</th>
                <th>@item.Student.NameSurname</th>
                <th>@item.Student.UserName</th>
                <td>
                    <a href="/Review/DeleteReview/@item.ReviewId" class="btn btn-outline-danger"><i class="fa fa-trash"></i> Sil</a>
                    <a href="/Review/UpdateReview/@item.ReviewId" class="btn btn-outline-info"><i class="fa fa-pen"></i> Güncelle</a>
                </td>
            </tr>
            }
    </tbody>
</table>
<a href="/Review/AddReview/" class="btn btn-success" style="float:right"><i class="fa fa-keyboard"></i> Yorum Ekle</a>